services:
  nextcloud_db:
    image: mariadb:11.8
    container_name: nextcloud_db
    restart: always
    networks:
      - nextcloud-net
    command: 
      - --transaction-isolation=READ-COMMITTED
      - --binlog-format=ROW
      - --skip-name-resolve
      - --max-allowed-packet=128M
      - --skip-log-bin
      # Si replication commenter - --skip-log-bin et decommenter la ligne ci-dessous
      #- --binlog-format=ROW
      - --innodb_log_file_size=512M
      - --innodb_buffer_pool_size=1G
      - --innodb_log_buffer_size=256M
      - --innodb_file_per_table=1
      - --table_open_cache=4000
      - --tmp_table_size=256M
      - --max_heap_table_size=256M
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=$NEXTCLOUD_MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=$NEXTCLOUD_MYSQL_DATABASE
      - MYSQL_USER=$NEXTCLOUD_MYSQL_USER
      - MYSQL_PASSWORD=$NEXTCLOUD_MYSQL_PASSWORD
      - MARIADB_AUTO_UPGRADE=1

  nextcloud_redis:
    image: redis:latest
    container_name: nextcloud_redis
    restart: always
    networks:
      - nextcloud-net

  nextcloud_app:
    image: nextcloud
    restart: always
    networks:
      - nextcloud-net
    ports:
      - $NEXTCLOUD_HTTP_PORT:80
      - $NEXTCLOUD_HTTPS_PORT:443
    links:
      - nextcloud_db
      - nextcloud_redis
    volumes:
      - ./nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=$NEXTCLOUD_MYSQL_DATABASE
      - MYSQL_USER=$NEXTCLOUD_MYSQL_USER
      - MYSQL_PASSWORD=$NEXTCLOUD_MYSQL_PASSWORD
      - REDIS_HOST=$NEXTCLOUD_REDIS_HOST
      - REDIS_HOST_PORT=6379
      - SMTP_HOST=$NEXTCLOUD_SMTP_HOST
      - SMTP_PORT=25
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=$NEXTCLOUD_MAIL_FROM
      - OVERWRITEHOST=$NEXTCLOUD_OVERWRITEHOST
      - OVERWRITEPROTOCOL=$NEXTCLOUD_OVERWRITEPROTOCOL
      - OVERWRITECLIURL=$NEXTCLOUD_OVERWRITECLIURL

  nextcloud_cron:
    image: nextcloud
    restart: always
    networks:
      - nextcloud-net
    links:
      - nextcloud_db
      - nextcloud_redis
    volumes:
      - ./nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=$NEXTCLOUD_MYSQL_DATABASE
      - MYSQL_USER=$NEXTCLOUD_MYSQL_USER
      - MYSQL_PASSWORD=$NEXTCLOUD_MYSQL_PASSWORD
      - REDIS_HOST=$NEXTCLOUD_REDIS_HOST
      - REDIS_HOST_PORT=6379
      - SMTP_HOST=$NEXTCLOUD_SMTP_HOST
      - SMTP_PORT=25
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=$NEXTCLOUD_MAIL_FROM
      - OVERWRITEHOST=$NEXTCLOUD_OVERWRITEHOST
      - OVERWRITEPROTOCOL=$NEXTCLOUD_OVERWRITEPROTOCOL
      - OVERWRITECLIURL=$NEXTCLOUD_OVERWRITECLIURL
    entrypoint: /cron.sh

  onlyoffice-document-server:
    image: onlyoffice/documentserver:latest
    restart: always
    networks:
      - nextcloud-onlyoffice-net
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${OL_JWT_SECRET}
    ports:
      - ${OL_HTTP_PORT}:80
      - ${OL_HTTPS_PORT}:443
    volumes:
      - ./ol/document/data:/var/www/onlyoffice/Data
      - ./ol/document/log:/var/log/onlyoffice

networks:
  nextcloud-net:
  nextcloud-onlyoffice-net: