services:
  nextcloud_db:
    image: mariadb:11.8
    container_name: nextcloud_db
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=$NEXTCLOUD_MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=$NEXTCLOUD_MYSQL_DATABASE
      - MYSQL_USER=$NEXTCLOUD_MYSQL_USER
      - MYSQL_PASSWORD=$NEXTCLOUD_MYSQL_PASSWORD

  nextcloud_redis:
    image: redis:latest
    container_name: nextcloud_redis
    restart: always

  nextcloud_app:
    image: nextcloud
    restart: always
    ports:
      - $NEXTCLOUD_PORT:80
    links:
      - nextcloud_db
      - nextcloud_redis
    volumes:
      - ./data:/var/www/html
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=$NEXTCLOUD_MYSQL_DATABASE
      - MYSQL_USER=$NEXTCLOUD_MYSQL_USER
      - MYSQL_PASSWORD=$NEXTCLOUD_MYSQL_PASSWORD
      - REDIS_HOST=$NEXTCLOUD_REDIS_HOST
      - REDIS_HOST_PORT=6379
      - SMTP_HOST=$NEXTCLOUD_SMTP_HOST
      - SMTP_PORT=25
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=$NEXTCLOUD_MAIL_FROM
      - OVERWRITEHOST=$NEXTCLOUD_OVERWRITEHOST
      - OVERWRITEPROTOCOL=$NEXTCLOUD_OVERWRITEPROTOCOL
      - OVERWRITECLIURL=$NEXTCLOUD_OVERWRITECLIURL

  nextcloud_cron:
    image: nextcloud
    restart: always
    links:
      - nextcloud_db
      - nextcloud_redis
    volumes:
      - ./data:/var/www/html
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_DATABASE=$NEXTCLOUD_MYSQL_DATABASE
      - MYSQL_USER=$NEXTCLOUD_MYSQL_USER
      - MYSQL_PASSWORD=$NEXTCLOUD_MYSQL_PASSWORD
      - REDIS_HOST=$NEXTCLOUD_REDIS_HOST
      - REDIS_HOST_PORT=6379
      - SMTP_HOST=$NEXTCLOUD_SMTP_HOST
      - SMTP_PORT=25
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=$NEXTCLOUD_MAIL_FROM
      - OVERWRITEHOST=$NEXTCLOUD_OVERWRITEHOST
      - OVERWRITEPROTOCOL=$NEXTCLOUD_OVERWRITEPROTOCOL
      - OVERWRITECLIURL=$NEXTCLOUD_OVERWRITECLIURL
    entrypoint: /cron.sh