# .env
# --- GLOBAL CONFIG

#OC_IMAGE_TAG=latest                                                # Image TAG for opencloud
#RESTART_POLICY=always
OC_USER=root                                                        # Default is 1000:1000 is my case work only with root

# DOMAIN AND URI
OC_DOMAIN=ocloud.domain.tld
COLLABORA_DOMAIN=ocloud-collabora.domain.tld
WOPI_DOMAIN=ocloud-wopi.domain.tld
#OC_URL=https://opencloud.domain.tld                                # This variable is normally unnecessary; it uses OC_DOMAIN.
#COLLABORATION_WOPI_SRC=https://opencloud-wopi.domain.tld           # This variable is normally unnecessary; it uses WOPI_DOMAIN.

# --- OPENCLOUD
# -- OPENCLOUD MAIN CONFIG
IDM_ADMIN_PASSWORD=                                                 # admin password
#OC_EXTERNAL_PORT=9200
#OC_INSECURE=true                                                   # INSECURE: needed if OpenCloud / reverse proxy is using self generated certificates
#PROXY_TLS=false                                                    # do not use SSL between the reverse proxy and OpenCloud
OC_DEFAULT_LANGUAGE=fr                                              # default language for services/WebUI; defaults to English, language code (ISO 639-1, e.g. de, en, fr)

# -- OPENCLOUD "OPTIONAL" CONFIG  -- injection by env_file
OC_LOG_LEVEL=info
OC_LOG_COLOR=false
OC_LOG_PRETTY=false
PROXY_ENABLE_BASIC_AUTH=false                                       # basic auth (not recommended, but needed for eg. WebDav clients that do not support OpenID Connect)
IDM_CREATE_DEMO_USERS=false                                         # demo users
FRONTEND_ARCHIVER_MAX_SIZE=10000000000
FRONTEND_CHECK_FOR_UPDATES=true
PROXY_CSP_CONFIG_FILE_LOCATION=/etc/opencloud/csp.yaml
START_ADDITIONAL_SERVICES=""                                        # Additional services to be started on opencloud startup, Add any services to the startup list comma separated like "notifications,antivirus" etc.

# -- OPENCLOUD APP CONFIG -- injection by env_file
# SHARING
OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD=true
OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD=false
# PASSOWRD POLICY
OC_PASSWORD_POLICY_DISABLED=false
OC_PASSWORD_POLICY_MIN_CHARACTERS=15
OC_PASSWORD_POLICY_MIN_LOWERCASE_CHARACTERS=1
OC_PASSWORD_POLICY_MIN_UPPERCASE_CHARACTERS=1
OC_PASSWORD_POLICY_MIN_DIGITS=1
OC_PASSWORD_POLICY_MIN_SPECIAL_CHARACTERS=0
# SMTP
#NOTIFICATIONS_SMTP_HOST=""
#NOTIFICATIONS_SMTP_PORT=""
##NOTIFICATIONS_SMTP_SENDER=""
#NOTIFICATIONS_SMTP_USERNAME=""
#NOTIFICATIONS_SMTP_PASSWORD=""
#NOTIFICATIONS_SMTP_INSECURE=""
#NOTIFICATIONS_SMTP_AUTHENTICATION= ""
#NOTIFICATIONS_SMTP_ENCRYPTION="none"

# OPENID External
#IDP_DOMAIN=
#WEB_OIDC_CLIENT_ID=
#WEB_OIDC_SCOPE=openid profile groups email roles
#OC_OIDC_ISSUER=
#OC_EXCLUDE_RUN_SERVICES=idp
#PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD=none
#PROXY_OIDC_SKIP_VERIFICATION=false
#PROXY_OIDC_REWRITE_WELLKNOWN=true
#PROXY_USER_OIDC_CLAIM=email
#PROXY_USER_CS3_CLAIM=email
#PROXY_AUTOPROVISION_ACCOUNTS=true
#GRAPH_USERNAME_MATCH=none                                                    # Uncomment when PROXY_AUTOPROVISION_ACCOUNTS equal true
#PROXY_ROLE_ASSIGNMENT_DRIVER=default
#RAPH_ASSIGN_DEFAULT_USER_ROLE=true
#PROXY_ROLE_ASSIGNMENT_DRIVER=oidc
#PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM=roles
#GRAPH_ASSIGN_DEFAULT_USER_ROLE=false

# SEARCH -- use profile search or all
#SEARCH_EXTRACTOR_TYPE=tika
#SEARCH_EXTRACTOR_TIKA_TIKA_URL=http://tika:9998
#FRONTEND_FULL_TEXT_SEARCH_ENABLED=true

# AV CLAMAV -- use profile av or all
#POSTPROCESSING_STEPS="virusscan"
#STORAGE_USERS_DATA_GATEWAY_URL="http://opencloud:9200/data"
#ANTIVIRUS_MAX_SCAN_SIZE=100MB
#ANTIVIRUS_INFECTED_FILE_HANDLING: abort
#ANTIVIRUS_MAX_SCAN_SIZE_MODE=partial
#ANTIVIRUS_WORKERS=1
#ANTIVIRUS_CLAMAV_SOCKET=/var/run/clamav/clamd.sock
#ANTIVIRUS_SCANNER_TYPE=clamav


# --- COLLOBORATION
#COLLOBORATION_EXTERNAL_PORT=9300

# --- COLLABORA
COLLABORA_ADMIN_USER=admin
COLLABORA_ADMIN_PASSWORD=
#DONT_GEN_SSL_CERT=YES
NATS_NATS_HOST=0.0.0.0
GATEWAY_GRPC_ADDR=0.0.0.0:9142
FRONTEND_APP_HANDLER_SECURE_VIEW_APP_ADDR=eu.opencloud.api.collaboration
GRAPH_AVAILABLE_ROLES="b1e2218d-eef8-4d4c-b82d-0f1a1b48f3b5,a8d5fe5e-96e3-418d-825b-534dbdf22b99,fb6c3e19-e378-47e5-b277-9732f9de6e21,58c63c02-1d89-4572-916a-870abc5a1b7d,2d00ce52-1fc2-4dbc-8b95-a73b73395f5a,1c996275-f1c9-4e71-abdf-a42f6495e960,312c0871-5ef7-4b3a-85b6-0e4074c64049,aa97fe03-7980-45ac-9e50-b325749fd7e6"

## extra_param sample
#- extra_params=--o:ssl.enable=false --o:ssl.ssl_verification=false --o:ssl.termination=true --o:ssl.verify=false --o:welcome.enable=false --o:net.lok_allow.host[14]=${OC_DOMAIN} --o:home_mode.enable=false --o:wopi.ssl_verify=false --o:net.content_security_policy="frame-ancestors https://${OC_DOMAIN} https://${COLLABORA_DOMAIN} ${COLLABORATION_WOPI_SRC};"
#- extra_params=--o:ssl.enable=false --o:ssl.ssl_verification=false --o:ssl.termination=true --o:ssl.verify=false --o:welcome.enable=false --o:net.lok_allow.host[14]=${OC_DOMAIN} --o:home_mode.enable=false --o:wopi.ssl_verify=false --o:hexify_embedded_urls=true --o:net.content_security_policy="frame-ancestors *;" --o:hexify_embedded_urls=true --o:net.frame_ancestors=${OC_DOMAIN} --o:net.lok_allow.host[14]=${OC_DOMAIN}

# TIKA
#TIKA_MEMORY_LIMIT=512m

# Header 64Ko
#PROXY_HTTP_MAX_HEADER_BYTES=65536
#HTTP_MAX_HEADER_BYTES=65536
# Header 128Ko
#PROXY_HTTP_MAX_HEADER_BYTES=131072
#HTTP_MAX_HEADER_BYTES=131072