ADMIN_TOKEN=changeme
WEBSOCKET_ENABLED=true
SIGNUPS_ALLOWED=true
SMTP_HOST=smtp.domain.tld
SMTP_FROM=vault@domain.tld
SMTP_FROM_NAME=Vaultwarden
SMTP_PORT=25
SMTP_SSL=false
SMTP_USERNAME= 
SMTP_PASSWORD=
DOMAIN=https://vault.domain.tld
EMERGENCY_ACCESS_ALLOWED=true
SIGNUPS_VERIFY=true
SIGNUPS_DOMAINS_WHITELIST=domain.tld