VOLUME_PATH=./
#
# GRIST MAIN
#
GRIST_TAG=latest
GRIST_URL=https://grist.domain.tld
GRIST_DEFAULT_EMAIL=grist@domain.tld
#GRIST_FORCE_LOGIN=true

#
# GRIST OIDC : Uncomment for enable
#
#GRIST_OIDC_IDP_ISSUER=
#GRIST_OIDC_IDP_CLIENT_ID=
#GRIST_OIDC_IDP_CLIENT_SECRET=
#GRIST_OIDC_IDP_SCOPES=openid profile email
#GRIST_OIDC_SP_EXTRA_PROPS_TO_STORE=preferred_username
#GRIST_OIDC_SP_IGNORE_EMAIL_VERIFIED=true

#
# POSTGRES
#
#POSTGRES_DB=
#POSTGRES_USER=
POSTGRES_PASSWORD=changeme