# COMMON
RESTART_POLICY=always

# FORGE SERVER
FORGEJO_TAG=15
FORGE_SERVER_CONTAINER_NAME=forgejo
FORGE_SERVER_DB_TYPE=postgres
FORGE_SERVER_DB_HOST=db:5432
FORGE_SERVER_HTTP_PORT=3000
FORGE_SERVER_SSH_PORT=222

# DATABASE
POSTGRESQL_TAG=16-alpine
POSTGRES_USER=forgejo
POSTGRES_PASSWORD=
POSTGRES_DB=forgejo
