#
# COMMON
#
RESTART_POLICY=always
NGINX_NETWORK=nginx-net

#
# NGINX
#
NGINX_TAG=1.30.5
NGINX_CONTAINER_NAME=nginx
NGINX_WORKER_PROCESSES=auto
NGINX_WORKER_CONNECTIONS=768

#
# DASHBOARD
#
NGX_DHB_TAG=12.5.0
NGX_DHB_CONTAINER_NAME=nginx-dashboard

#NGX_DHB_API_TOKEN=
#NGX_DHB_WEBHOOK_SECRET=
#NGX_DHB_SESSION_SECRET=