#
# COMMON
#
RESTART_POLICY=always
NGINX_NETWORK=nginx-net

#
# NGINX
#
NGINX_TAG=1.30.4
NGINX_CONTAINER_NAME=nginx
NGINX_WORKER_PROCESSES=auto
NGINX_WORKER_CONNECTIONS=768

#
# DASHBOARD
#
NGX_DHB_TAG=12.1.17
NGX_DHB_CONTAINER_NAME=nginx-dashboard

#NGX_DHB_API_TOKEN=
#NGX_DHB_WEBHOOK_SECRET=
#NGX_DHB_SESSION_SECRET=

#
# ANALYZER
#
NGX_ANA_TAG=12.1.17

#
# ERROR PAGE
#
ERROR_PAGES_TAG=latest
ERROR_PAGES_TEMPLATE=connection

#
# GEOIP
#
#GEOIPUPDATE_ACCOUNT_ID=
#GEOIPUPDATE_LICENSE_KEY=
#GEOIPUPDATE_EDITION_IDS=GeoLite2-City GeoLite2-Country GeoLite2-ASN
#GEOIPUPDATE_FREQUENCY=168

#
# CERTBOT 
#
#CERTBOT_TAG=latest
#CERTBOT_EMAIL=monemail@domain.tld