#
# COMMON
#
RESTART_POLICY=always
NGINX_NETWORK=nginx-net

#
# NGINX
#
NGINX_TAG=1.30.5
NGINX_CONTAINER_NAME=nginx
NGINX_WORKER_PROCESSES=auto
NGINX_WORKER_CONNECTIONS=768

#
# DASHBOARD
#
#NGX_DHB_TAG=1.x.x
NGX_DHB_CONTAINER_NAME=nginx-dashboard

# Inject custom text after Nginx Control in header bar
#BRANDING_HEADER_TEXT=

#NGX_DHB_API_TOKEN=
#NGX_DHB_WEBHOOK_SECRET=
#NGX_DHB_SESSION_SECRET=