# version: 20260526-01

# ──────────────────────────────────────────────────────────────────────────────
# Nginx
# ──────────────────────────────────────────────────────────────────────────────
NGINX_TAG=1.30.2
NGINX_CONTAINER_NAME=nginx-rproxy
NGINX_RESTART_POLICY=always
NGINX_WORKER_PROCESSES=auto
NGINX_WORKER_CONNECTIONS=768

# ──────────────────────────────────────────────────────────────────────────────
# Nginx Dashboard
# ──────────────────────────────────────────────────────────────────────────────
NGX_DHB_TAG=11.0.7
## Must be changed use : https://tools.rdr-it.com/#randgen - Format hex 32
NGINX_DASHBOARD_API_TOKEN=changeme-generate-with-openssl-rand-hex-32
NGINX_DASHBOARD_WEBHOOK_SECRET=changeme-generate-with-openssl-rand-hex-32
NGINX_DASHBOARD_SESSION_SECRET=changeme-generate-with-openssl-rand-hex-32
# Full name of network (docker network ls)
NGINX_NETWORK=nginx-net
# same image as the reverse proxy
NGINX_IMAGE=forge.rdr-it.com/dockerfiles/nginx-reverse-proxy:1.30.2
## Git sync & backup
GIT_REPO_URL=
GIT_BRANCH=main
GIT_BACKUP_BRANCH=backup
GIT_TOKEN=

# ──────────────────────────────────────────────────────────────────────────────
# ERROR-PAGES
# ──────────────────────────────────────────────────────────────────────────────
ERROR_PAGES_TAG=latest
ERROR_PAGES_RESTART_POLICY=always
ERROR_PAGES_TEMPLATE=connection

# ──────────────────────────────────────────────────────────────────────────────
# GEOIPUPDATE
# ──────────────────────────────────────────────────────────────────────────────
GEOIPUPDATE_TAG=latest
GEOIPUPDATE_RESTART_POLICY=always
GEOIPUPDATE_ACCOUNT_ID=000000
GEOIPUPDATE_LICENSE_KEY=AbCdEfGh
GEOIPUPDATE_EDITION_IDS=GeoLite2-City GeoLite2-Country GeoLite2-ASN
GEOIPUPDATE_FREQUENCY=168   # Hour

# ──────────────────────────────────────────────────────────────────────────────
# CERTBOT
# ──────────────────────────────────────────────────────────────────────────────
CERTBOT_TAG=latest
CERTBOT_RESTART_POLICY=always
CERTBOT_EMAIL=monemail@domain.tld