# Nginx
NGINX_TAG=1.29.8
NGINX_RESTART_POLICY=always
NGINX_WORKER_PROCESSES=auto
NGINX_WORKER_CONNECTIONS=768

# ERROR-PAGES
ERROR_PAGES_TAG=latest
ERROR_PAGES_RESTART_POLICY=always
ERROR_PAGES_TEMPLATE=connection

# GEOIPUPDATE
GEOIPUPDATE_TAG=latest
GEOIPUPDATE_RESTART_POLICY=always
GEOIPUPDATE_ACCOUNT_ID=000000
GEOIPUPDATE_LICENSE_KEY=AbCdEfGh
GEOIPUPDATE_EDITION_IDS=GeoLite2-City GeoLite2-Country
GEOIPUPDATE_FREQUENCY=168   # Hour

# CERTBOT
CERTBOT_TAG=latest
CERTBOT_RESTART_POLICY=always
CERTBOT_EMAIL=monemail@domain.tld