services:
  bunkerweb:
    image: bunkerity/bunkerweb:${GLOBAL_VERSION:-1.6.4}
    restart: always
    ports:
      - 80:8080
      - 443:8443
    env_file:
      - ./env/global.env    
    volumes:
      - ./ssl:/ssl
    networks:
      - bw-universe
      - bw-services

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:${GLOBAL_VERSION:-1.6.4}
    restart: always
    depends_on:
      - bunkerweb
    env_file:
      - ./env/global.env
      - ./env/bw-scheduler.env
    volumes:
      - ./ssl:/ssl
    networks:
      - bw-universe
      - bw-docker

  bw-ui:
    image: bunkerity/bunkerweb-ui:${GLOBAL_VERSION:-1.6.4}
    restart: always
    env_file:
      - ./env/global.env
      - ./env/bw-ui.env
    networks:
      - bw-universe
      - bw-docker

  bw-db:
    image: mariadb:${MARIADB_VERSION:-11}
    restart: always
    env_file:
      - ./env/bw-db.env
    volumes:
      - ./bw-data:/var/lib/mysql
    networks:
      - bw-docker

networks:
  bw-universe:
    name: bw-universe
    ipam:
      driver: default
      config:
        - subnet: 10.150.250.0/24
  bw-services:
    name: bw-services
  bw-docker:
    name: bw-docker