services:
  guacamole-db:
    image: postgres:18-alpine
    restart: ${RESTART-POLICY:-unless-stopped}
    environment:
      - POSTGRES_DB=${GUACAMOLE_DB_NAME}
      - POSTGRES_USER=${GUACAMOLE_DB_USER}
      - POSTGRES_PASSWORD=${GUACAMOLE_DB_PASSWORD}
    networks:
      - guacamole-net 
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

  guacamole-guacd:
    image: guacamole/guacd:${GUACD_VERSION:-latest}
    restart: ${RESTART-POLICY:-unless-stopped}
    user: root
    env_file:
      - .env
    networks:
      - guacamole-net
    volumes:
      - ./data/guacd/drive:/drive:rw 
      - ./data/guacd/record:/record:rw  
    
  guacamole-web:
    image: guacamole/guacamole:${GUACAMOLE_VERSION:-latest}
    restart: ${RESTART-POLICY:-unless-stopped}
    user: root
    env_file:
      - .env
    networks:
      - guacamole-net
    port:
      - ${GUACAMOLE_PORT:-8080}:8080
    depends_on:
      - guacamole_db
      - guacd